<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kmr">

    <property name="kmr_mass" value="390" /> 

    <property name="kmr_height" value=".700" />
    <property name="kmr_length_with_scanners" value="1.08" />
    <property name="kmr_width_with_scanners" value=".630" />

    <!--<property name="max_velocity_longitudinal" value="1" />
    <property name="max_velocity_lateral" value=".7" /> 
    <property name="max_velocity_angular" value=".5" />-->

    <property name="pi" value="3.14159265" />

    <link name="base_link" >
        <visual>
            <geometry>
                <mesh filename="package://rob_description/meshes/INTMOB_S.dae" />
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
    </link>

    <link name="lidar_front_frame">
    </link>

    <joint name="LiDAR_front" type="fixed">
        <parent link="base_link" />
        <child link = "lidar_front_frame" />
        <origin xyz=".487 -.255 0" rpy="0.0 0.0 -0.7858908"/> <!-- w =  0.924 ????-->
    </joint>

    <link name="lidar_back_frame">
    </link>

    <joint name="LiDAR_back" type="fixed">
        <parent link="base_link" />
        <child link = "lidar_back_frame" />
        <origin xyz="-.438 .255 0" rpy="0.0 0.0 2.3557019" /> <!-- w =  -0.383 ????-->
    </joint>

    <link name="gps_frame">
    </link>
        
    <joint name="GPS" type="fixed">
        <parent link="base_link"/>
        <child link = "gps_frame" />
        <origin xyz=".390 .185 .450" rpy="0.0 0.0 ${-pi/2}" /> <!-- w =   0.707 ????-->
    </joint>

    <link name="imu_frame">
    </link>

    <joint name="IMU" type="fixed">
        <parent link="base_link"/>
        <child link = "imu_frame" />
        <origin xyz=".390 .185 .450" rpy="0.0 0.0 ${-pi/2}" /> <!-- w = 0.707 ????-->
    </joint> 
</robot>